body{
    padding: 40px;
}

p{
    margin: 0;
    cursor:pointer;
}
.blockquote{
    display: flex;
}

.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete{
    text-decoration: line-through;
}